
<div align="center">
<H2><%= link_to 'Journée '+ @agenda[0].num_journee.to_s, :controller=>'divisions', :action=>'show', :id=>@classement[0].divID%></H2>

<table class="agenda">
<% i=1 %>
<% @agenda.each do |match| %>
<% if (i % 2 == 1) %>
<% @classe = "impaire" %>
<% else %>
<% @classe = "paire" %>
<% end %>
<% if match.equipe1ID == @equipe || match.equipe2ID == @equipe  %>
<tr class ="<%= @classe %>" style="border-style: solid; border-width: 1px">
<% else %>
<tr class ="<%= @classe %>">
<% end %>
<td class="equipe_dom">
<%= link_to match.equipe1Nom, :controller=>'equipes', :action=>'show', :id=>match.equipe1ID %>
</td>
<td class="tiret">
<%= link_to   match.score1.to_s + '  -  ' + match.score2.to_s , :controller=>'stats', :action=>'show', :id=>match.id %>
</td>
<td class="equipe_ext">
<%= link_to match.equipe2Nom, :controller=>'equipes', :action=>'show', :id=>match.equipe2ID %>
</td>
</tr>
<% i = i + 1 %>
<% end %>
</table>
</div>



