<div  class="class_container" align="center">
<H2><%= link_to @classement[0].nom, :controller=>'divisions', :action=>'list', :id=>@classement[0].divID %></H2>

<table class="classement_tab">
<tr>
<th class="classement_place">
</th>
<th class="classement_nom">
</th>
<th class="classement_pts">
Pts
</th>
<th class="classement_vic">
V
</th>
<th class="classement_nul">
N
</th>
<th class="classement_def">
D
</th>
<th class="classement_bp">
+
</th>
<th class="classement_bc">
-
</th>
<th class="classement_diff">
&plusmn;
</th>
<th class="classement_nb_journee">
J
</th>
</tr>
<% i=1 %>
<% @classement.each do |equipe| %>
<% if (i % 2 == 1) %>
<% @classe = "impaire" %>
<% else %>
<% @classe = "paire" %>
<% end %>
<% if equipe.equipeID == @equipe %>
<tr class ="<%= @classe %>" style="border-style: solid; border-width: 1px">
<% else %>
<tr class ="<%= @classe %>">
<% end %>
<td class="classement_place">
<%=i%>.
</td>
<td class="classement_nom" >
<%=link_to equipe.equipe, :controller=>'equipes', :action=>'show', :id=>equipe.equipeID %>
</td>
<td class="classement_pts">
<%=equipe.points%>
</td>

<td class="classement_vic" >
<%=equipe.victoire%>
</td>
<td class="classement_nul" >
<%=equipe.nul%>
</td>
<td class="classement_def">
<%= equipe.defaite %>
</td>
<td class="classement_bp">
<%= equipe.bp %>
</td>
<td class="classement_bc">
<%= equipe.bc %>
</td>
<td class="classement_diff">
<%= equipe.bp - equipe.bc %>
</td>
<td class="classement_nb_journee" >
<%= equipe.nb_journee %>
</td>
</tr>
<% i = i + 1 %>
<% end %>

</table>
</div>
