<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
    <title>HTMMFT</title>  
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <meta name="description" content="HowToManageMyFootballTeam is a free online football (soccer) manager game." />
	<meta name="keywords" content="Football Manager, Online Football Manager, Free Football Manager, Soccer Manager, Football, Soccer, Online Football Manager Game, Football Club, Football Community" />
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22341697-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
<div id="global">
	<div id="header_container">	
		<div id="header">
			<h1><%= link_to 'How to manage my football team ', '/' %><%= link_to '?', {:controller=>'howto'}, {:class =>"interro"} %></h1>
			<h2><%= link_to '"Make it smart, keep it simple!"', {:controller=>'howto'} %></h2>
			<%= render :partial => "shared/menu"%>
		</div>
	
	</div>
	<div id="container">
		<div class="texte">	
			<%= yield  %>
		</div>
		
	<div id="footer">
		<%= render :partial => "shared/footer"%>
	</div>
</div>
</div>
</body>
</html>
